<div class="bg-[var(--background)] rounded-lg shadow-md p-6 mb-8">
  <h2 class="text-xl font-semibold mb-4">Add New Reminder</h2>
  <%= form_with model: reminder do |f| %>
    <div class="mb-4">
      <%= f.label :body %>
      <%= f.textarea :body, class: "text-black bg-white/90 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4 flex justify-between gap-2">
      <div class="grow">
        <%= f.label :due_date, "Due Date" %>
        <%= f.date_field :due_date, class: "text-black bg-white/90 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" %>
      </div>
      <div>
        <%= f.label :due_time, "Time Due" %>
        <%= f.time_field :due_time, class: "text-black bg-white/90 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" %>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :spam_repetitions, "Number of times to spam" %>
      <%= f.number_field :spam_repetitions, class: "text-black bg-white/90 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4 flex gap-2 items-center">
      <%= f.label :spam_interval, "I want a reminder every" %>
      <div class="text-black">
        <%= f.select :spam_interval, options_for_select(["5", "10", "15", "30", "45", "60"]), class: "bg-white/90 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded" %>
      </div>
      <p>minutes</p>
    </div>

    <div class="flex justify-between grow items-center">
      <%= link_to reminders_path do %>
        <button class="border-[var(--primary)] border rounded py-2 px-5 hover:bg-[var(--primary)]/80 hover:border-[var(--primary)] transition-all duration-75 ease-in-out font-semibold">
          Cancel
        </button>
      <% end %>
      <%= f.submit "Add", class: "bg-[var(--primary)] hover:bg-[var(--primary)]/80 hover:cursor-pointer py-2 px-5 rounded font-semibold" %>
    </div>
  <% end %> 
</div>