<div class="bg-[#010B14] rounded-lg shadow-md p-6 mb-8 relative">
  <%= link_to reminder_path(reminder), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do  %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500 absolute right-2 top-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  <% end %>
  

  <p class="text-2xl"><%= reminder.body %></p>
  <p>Remember to do this task by <span class="font-bold text-l"><%= reminder.due_date.strftime("%B %y, %-l:%M %p") %></span></p>
  <p>Message this number every <span class="font-bold text-l"><%= reminder.spam_interval %></span> minutes and do it <span class="font-bold text-l"><%= reminder.spam_repetitions.humanize %> times</span></p>
</div>