<div class="flex justify-between items-center mx-5 py-5">
    <%= link_to "Remindr", landing_path, class: "text-xl font-semibold" %>
  <%# TODO: Add links to sections  %>
  <ul class="hidden md:flex gap-10">
    <li><%= link_to "Features", { :anchor => "features" }, class: "text-xl font-semibold" %></li>
    <li><%= link_to "Pricing", { :anchor => "pricing" }, class: "text-xl font-semibold" %></li>
    <li><%= link_to "Contact", { :anchor => "contact" }, class: "text-xl font-semibold" %></li>
  </ul>
  <% if authenticated? %>
    <%= button_to "Sign Out", session_path, method: :delete, class: "border-[var(--primary)] border-2 text-white px-4 py-1 rounded-md" %>
  <% else %>
    <%= link_to "#" do %>
      <button class="border-[var(--primary)] border-2 text-white px-4 py-1 rounded-md"> Sign In </button>
    <% end %>
  <% end %>
</div>    