<div class="flex justify-between items-center mx-5 p-5">
    <%= link_to "Remindr", landing_path, class: "text-xl font-semibold" %>
  <ul class="flex gap-10">
    <li><%= link_to "Features", { :anchor => "features" }, class: "text-xl font-semibold" %></li>
    <li><%= link_to "Pricing", { :anchor => "pricing" }, class: "text-xl font-semibold" %></li>
    <li><%= link_to "Contact", { :anchor => "contact" }, class: "text-xl font-semibold" %></li>
  </ul>
  <%= link_to "Sign in", "#", class: "text-xl font-semibold" %>
</div>    